* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80px;
  background-color: rgb(181, 228, 168);
  margin: 0;
  position: relative;
}

#name h1 {
  font-weight: bold;
  margin: 10px;
  color: rgb(0, 0, 0);
}

#name {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  background-color: cornflowerblue;
  width: fit-content;
  height: fit-content;
  border:rgb(70, 127, 233);
  border-style: solid;
}

header nav {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
}

section {
  display: flex;
  justify-content: center;
  padding-left: 30%;
  padding-right: 20%;
}

section h1 {
  padding-right: 2%;
  border-right: black;
  border-style: solid;
  border-width: 0 2px 0 0;
}

#banner {
  max-width: 100%;
  height: 215px;
  position: relative;
} 

img {
   width: 100%;
   height: 100%;
}

#title {
  position: absolute;
  bottom: 10px;
  right: 16px;
  background-color: cornflowerblue;
  width: fit-content;
  height: fit-content;
  border:rgb(70, 127, 233);
  border-style: solid;
}

#title h3 {
  margin: 10px;
}

#about-me h1 {
  align-items: flex-start;
}

#work {
  flex-direction: row;
  justify-content: space-between;
}

#work h1 {
  align-items: flex-start;
}

#contact {
  justify-content: space-evenly;
}

#contact h1 {
  align-items: flex-start;
}
