* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 80px;
  background-color: rgb(253, 253, 253);
  margin: 0;
  position: relative;
}

#name h2 {
  font-weight: bold;
  margin: 10px 10px;
  color: rgb(0, 0, 0);
}

#name {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 30px;
  background-color: rgb(246, 242, 228);
  width: fit-content;
  height: fit-content;
  border: rgb(216, 204, 158);
  border-style: solid;
}

header nav {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header a {
  text-decoration: none;
}

#banner {
  max-width: 100%;
  height: 215px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

#title {
  position: absolute;
  bottom: 10px;
  right: 16px;
  background-color: rgb(246, 242, 228);
  width: fit-content;
  height: fit-content;
  border: rgb(216, 204, 158);
  border-style: solid;
}

#title h3 {
  margin: 10px;
  text-align: center;
}

body {
  background-color: rgb(238, 238, 238);
}

.body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  }

.body-title {
  margin-right: 8%;
  text-align: right;
  border-right: solid 3px rgb(216, 204, 158)
}

.work {
  flex-direction: column;
  justify-content: space-around;
}

.gallery {
  position: relative;
  border: rgb(216, 204, 158) 5px;
  border-style: solid;
}
.gallery img {
  object-fit: cover;
}
.gallery span {
  position: absolute;
  left: 0px;
  bottom: 15px;
  background-color: rgb(216, 204, 158);
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.gallery span h3 {
  font-size: 18px;
  margin: 5px;
}

.gallery span p {
  font-size: 14px;
  margin: 5px;
} 

.contact {
  width: 60%;
}

.contact a {
  text-decoration: none;
}

.contact p {
  justify-content: space-around;
}


